* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.top-page {
    background-color: #1f2937;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.top-container h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.top-container p {
    font-size: 18px;
    color: #e5e7eb;
}

.top-container button {
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    border: 0;
}

.top-page img {
    height: 400px;
    width: 500px;
}

.info-container {
    background-color: #f9faf8;   
    text-align: center;
}

.info-container h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-container .img-content-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.info-container .content {
    color: #4b5563;
    max-width: 160px;
}

.info-container img {
    border: 3px solid #3882f6;
    border-radius: 8px;
    height: 160px;
    width: 160px;
}



